<% breadcrumb :instituciones %>

<div class="col-md-12">
  <div class="well-sombra well col-md-12 col-md-offset-0">
  <%= link_to new_universidad_path, :class => 'btn btn-primary pull-right' do %>
      <span class="glyphicon glyphicon-plus"></span>
      <%= "#{t('helpers.links.new')} #{t('mio.universidad')}" %>
    <% end %>

    <%= render partial: 'tabla', locals: {registros: @universidades} %>

  </div>
 </div>


