    <div class="pagination">
      <%= will_paginate registros, renderer: BootstrapPagination::Rails %>
    </div>

    <table class="table table-condensed table-striped table-hover">
      <thead>
        <tr>
        <th><%= t('mio.evaluacion_curso') %></th>
      </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, registros) do |subtitulo| %>
          <td><%= link_to subtitulo.curso, subtitulo %></td>
        <% end -%>
      </tbody>
    </table>

    <div class="pagination">
      <%#= will_paginate registros, renderer: BootstrapPagination::Rails %>
    </div>
