<% breadcrumb :cursos %>

<div class="col-md-12">
  <div class="well-sombra well col-md-12 col-md-offset-0">
  <%= link_to new_curso_path, :class => 'btn btn-primary pull-right' do %>
      <span class="glyphicon glyphicon-plus"></span>
      <%= "#{t('helpers.links.new')} #{t('mio.curso')}" %>
    <% end %>

    <%= render partial: 'tabla', locals: {registros: @cursos} %>

  </div>
</div>


