body {
	padding-top: 60px;
}


.highlight {
  background:#ff8;
  color:red;
}

ul {list-style: none;}

.well-sombra {
  border:solid 1px #bbb;
  border-radius:6px;
				
	-o-box-shadow: rgb(150, 150, 150) 10px 10px 10px;
	-moz-box-shadow: rgb(150, 150, 150) 10px 10px 10px;
	-webkit-box-shadow: rgb(150, 150, 150) 10px 10px 10px;
	-ms-box-shadow: rgb(150, 150, 150) 10px 10px 10px;
	box-shadow: rgb(150, 150, 150) 10px 10px 10px;

}

.texto-legal {
  &, a, .highlight {font-family:Monaco, Courier, monospace;}
  .highlight {font-weight:normal;}
  text-align:justify;
}

a.btn-primary:visited,
a.btn-danger:visited,
a.btn-warning:visited,
a.btn-success:visited,
a.btn-info:visited,
a.btn-inverse:visited {
	color: #ffe;
}

footer {
	width: 90%;
	display: block;
	font-size: 18px;
	text-align: center;
	margin: 50px auto;

	-moz-text-shadow: #666666 4px 4px 4px;
	-webkit-text-shadow: #666666 4px 4px 4px;
	text-shadow: #666666 4px 4px 4px;

}

/* clases para el menú desplegable */

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
  width: auto;
  margin-top: 0px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.twitter-typeahead {
  width: 100%;
}

/* clases para el menú desplegable */

.texto-negro {
  color: black;
}


/* Estos ajustes son para la aplicación de MOOCtor */

#presentacion {
  padding-top: 0px; 
  padding-bottom: 50px; 
  margin-bottom: 0px; 
  color: #fff; 
  background-color: #191919;
}


#presentacion a {
  color: #fff; 
  text-decoration: none; 
}

#buscador {
  padding-top: 50px; 
  padding-bottom: 50px; 
}

#enlaces {
  padding-top: 50px; 
  padding-bottom: 50px; 
}

#cuenta {
  padding-top: 0px; 
  padding-bottom: 50px; 
  padding-left: 0px; 
  padding-right: 0px; 
  margin-top: 0px;
  margin-bottom: 0px; 
  margin-left: 0px; 
  margin-right: 0px; 
}

#centro {
  padding-top: 0px; 
  padding-bottom: 0px; 
  padding-left: 50px; 
  padding-right: 0px; 
  margin-top: 0px;
  margin-bottom: 0px; 
  color: #000; 
  background-color: #fff;
}

#registro {
  padding-top: 50px; 
  padding-bottom: 0px; 
  padding-left: 0px; 
  padding-right: 0px; 
  margin-top: 0px;
  margin-bottom: 0px; 
  margin-left: 0px; 
  margin-right: 0px; 
}

#section4 {
  padding-top: 50px; 
  padding-bottom: 0px; 
  margin-bottom: 0px; 
  color: #fff; 
  background-color: #696969;
}

#section4 a:link {
  text-decoration:none;color:#fff;
}

#section4 a:visited {
  text-decoration:none;color:#fff;
}

#section4 a:active {
  text-decoration:none;color:#ff0000;
}

#section4 a:hover {
  text-decoration:underline;color:#fff;
}

.stars-fieldset {
  width: 200px;
  border: none;
  font-weight: bold;
  font-size: 14px;
}

.stars {
  width: 100px;
  height: 21px;
  display: block;
  background: url(http://lh5.googleusercontent.com/-Sp-iHFztZdc/UVD89O9oM1I/AAAAAAAAEU0/Xh-FBDaWyJY/s000/estrellas.png) 0 0 no-repeat;
}

.stars-00 { background-position: -100px -0; }
.stars-05 { background-position: -81px -21px; }
.stars-10 { background-position: -81px 0; }
.stars-15 { background-position: -61px -21px; }
.stars-20 { background-position: -60px 0; }
.stars-25 { background-position: -40px -21px; }
.stars-30 { background-position: -40px 0; }
.stars-35 { background-position: -21px -21px; }
.stars-40 { background-position: -21px 0; }
.stars-45 { background-position: 0 -21px; }
.stars-50 { background-position: 0 0; }

.pagination li a {
  color: #292929;
}

.pagination li.active span {
  color: #fff;
  background-color: #696969;
  border-color: #696969;
}

.pagination li.active span:hover {
  color: #fff;
  background-color: #696969;
  border-color: #696969;
}

.pagination li.disabled span {
  color: #757575;
  background-color: #fff;
}

.texto_oculto {
  width: 0px;
  height: 0px;
  text-indent:-99999px;
  outline:none;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}


